.profile__edit-button {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.671);
    border: none;
    outline: 1px black;
    cursor: pointer;
    background-image: url('/src/images/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 128px;
    width: 128px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}   

.profile__edit-button:hover {
    opacity: 1;
}